body{
  background-color: #212121;
  color: #eaeaea;
}

#card {
  border: 2px solid #212121;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 600;
  text-shadow: -0.6px -0.6px 0 #dddddd, 0.6px -0.6px 0 #dddddd,
    -0.6px 0.6px 0 #dddddd, 0.6px 0.6px 0 #dddddd;
}

.carousel-inner img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 0.8;
  border: 2px solid #212121;
}
