<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <h2>{{heading}}</h2>
    <form method="post" >
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>

    {% for mahasiswa2024 in mhs %}
    <h1>{{mahasiswa2024.nama}}</h1>
    <p>{{mahasiswa2024.nim}}</p>
    <p>{{mahasiswa2024.bio}}</p>
    {% endfor %}
  </body>
</html>
