<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <h1>Hello, world</h1>
    <p>This is a simple Django application with CSS and JavaScript.</p>
    <button class="btn"><a href="about/">About Me</a></button>
    <button class="btn"><a href="contact/">Contact Me</a></button>
    <script>
      console.log("Hello, world!");
    </script>
  </body>
</html>
